<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no" />

    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <aside>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Members area</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </aside>

    <section id="content">
        {% block body %}{% endblock %}
    </section>
    {% block javascripts %}{% endblock %}

</body>
</html>
